<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Manage</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="/logout">logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/">Overview <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/host">Host Manage</a></li>
            <li><a href="/ansible">Run Command</a></li>
            <li><a href="/ansibleplaybook">playbook</a></li>
            <li><a href="/test">wiki</a></li>
          </ul>
        </div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">Server list</h2>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Hosts</th>
                  <th>Group</th>
                  <th>Lan</th>
                  <th>Wan</th>
                  <th>Run</th>
                </tr>
              </thead>
              <tbody>
			<form action="/host" method="POST">
				<tr>
					<th><input class="form-control input-sm" type="text" name="hosts" /></th>
					<th><input class="form-control input-sm" type="text" name="group" /></th>
					<th><input class="form-control input-sm" type="text" name="lan" /></th>
					<th><input class="form-control input-sm" type="text" name="wan" placeholder="NULL" /></th>
					<th>
						<button type="submit" class="btn btn-primary btn-sm" name="action" value="add" >add</button>
					</th>
				</tr>
			{% module xsrf_form_html() %}
			</form>
			{% for item in items %}
			<form action="/host" method="POST">
				<tr>
				  <input type="text" name="id" value={{item[0]}} style="display:none" />
				  <th><input class="form-control input-sm" type="text" name="hosts" value={{item[1]}} /></th>
				  <th><input class="form-control input-sm" type="text" name="group" value={{item[2]}} /></th>
				  <th><input class="form-control input-sm" type="text" name="lan" value={{item[3]}} /></th>
				  <th><input class="form-control input-sm" type="text" name="wan" value={{item[4]}} /></th>
				  <th>
					  <button type="submit" class="btn btn-warning btn-sm" name="action" value="update" >update</button>
					  <button type="submit" class="btn btn-danger btn-sm" name="action" value="delete" >delete</button>
					  <button type="submit" class="btn btn-info btn-sm" name="action" value="command" >command</button>
				  </th>
				</tr>
			  {% module xsrf_form_html() %}
			</form>
			{% end %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
	  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="js/vendor/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
